@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my second project on github</h1>
    <h1 class="display-4">Welcome to my third project on github</h1>
    
</div>
